<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <header>
    <nav class="navbar">
         <img src="images/imagem.png" alt=""width="100px" >
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/novidades">Novidades</a> <a href="/contato">Contato</a>    <a href="/carrinho">Carrinho (<%= cartCount %>)</a>
        </div>
    </nav>
</header>
</body>
</html>
